.modal-backdrop, .offcanvas-backdrop {
    opacity: unset !important;
    background: rgb(255 143 0 / 50%); // rgb(0 0 0 / 10%)
    backdrop-filter: blur( 4px );
}
.mfp-figure:after {
    background: transparent !important;
    box-shadow: none !important;
}
@media only screen and (max-width: 575.98px) {
    .mfp-arrow {
        top: auto !important;
        bottom: 1rem !important;
        margin-top: 0 !important;
        transform-origin: 0 !important;
        aspect-ratio: 1/1 !important;
        height: auto !important;
        width: 48px !important;
    }

    .mfp-arrow::before, .mfp-arrow::after {
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    .mfp-arrow-left {
        left: 35% !important;
    }
    .mfp-arrow-right {
        right: 35% !important;
    }
}