/* Scrollbar - Width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Scrollbar - Track */
::-webkit-scrollbar-track {
    background: var(--#{$prefix}tertiary-bg);
    border-radius: var(--#{$prefix}border-radius-sm);
    box-shadow: inset 0 0 5px var(--#{$prefix}gray-300);
}

/* Scrollbar - Handle */
::-webkit-scrollbar-thumb {
    background: var(--#{$prefix}primary-400);
    border-radius: var(--#{$prefix}border-radius-xl);
}

/* Scrollbar - Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--#{$prefix}primary);
}

#swup::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#swup::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

#swup::-webkit-scrollbar-thumb {
    background: var(--#{$prefix}primary-200);
    border-radius: var(--#{$prefix}border-radius-xl);
}