$prefix: "" !default;
//^ Theme Colors
$primary:       #ED7D31 !default;
$secondary:     #f6b93b !default;
$tertiary:      #92a5d1 !default;
$success:       #00ee89 !default;
$info:          #5bc4ff !default;
$warning:       #ffbf43 !default;
$danger:        #f94e4e !default;
$light:         #f1f3f5 !default;
$dark:          #1c1f26 !default;